footer {
  display: flex;
  font-family: "Ropa Sans", sans-serif;
  font-size: 1.8rem;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 30px 0;
  background-color: @crimson;
  margin-top: 30px;
  border-top: 2px solid @dkpurple;
}

@media only screen and (max-width: 800px) {
  .container {
    width: 800px;
  }
  footer {
    width: 799px;
  }
}
@media only screen and (max-width: 500px) {
  .container {
    width: 500px;
  }
  footer {
    width: 499px;
  }
}
