.container {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid @dkpurple;
}

.top-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0;

  h1 {
    padding: 30px;
  }
  h2 {
    padding-bottom: 30px;
    transform: rotate(3.04deg);
  }
  p {
    padding: 30px;
  }
  a {
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
    background-color: @dkpurple;
    padding: 20px 40px;
    border-radius: 25px;
  }
  a:hover {
    color: grey;
  }
}

h3 {
  font-family: Ropa Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 32px;
  text-align: center;

  color: #320073;
}
.blue {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0;
  background-color: rgba(193, 200, 255, 0.5);

  p {
    padding: 40px;
  }
}
.pink {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0;
  background-color: rgba(238, 28, 66, 0.2);

  p {
    padding: 40px;
  }
}
.bottom-content {
  margin: 30px 0;
  a {
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
    background-color: @dkpurple;
    padding: 20px 40px;
    border-radius: 25px;
  }
  a:hover {
    color: grey;
  }
}

// button {
//   background: #320073;
//   border-radius: 25px;

//   font-family: Ropa Sans;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 18px;
//   line-height: 19px;
//   /* identical to box height */

//   text-align: center;

//   color: #ffffff;
// }

@media only screen and (max-width: 799px) {
  .container {
    width: 799px;
  }
}
@media only screen and (max-width: 499px) {
  .container {
    width: 499px;
  }
}
