.container {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .top-content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      top-margin: 30px;
  }

  @media only screen and (max-width: 500px) {
    .container{
        width: 500px;
    }
}