


nav {
  display : flex;
  font-family: 'Ropa Sans', sans-serif;
  font-size: 1.8rem;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 30px 0;
  background-color: @crimson;
  margin-bottom: 30px;
    a {
      text-decoration: none;
      color: white;
      
    }
    a:hover{
      color: black;
    }
    #login{
      color: #320073;
    }

}

  @media only screen and (max-width: 500px) {

  }
