@media @mobile {
  display: flex;
}
.container {
  display: flex;
  width: 100%
}

nav {
  display : flex;
  font-family: 'Ropa Sans', sans-serif;
  font-size: 1.5rem;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 30px 0;
  background-color: @crimson;

}